LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
TECH_SUPPORT_PHONE_NUMBER="sip:+13134860408@sbc1.customers.dsiprouter.net"
BILLING_PHONE_NUMBER=""
CUSTOMER_SERVICE_PHONE_NUMBER=""
OPENAI_API_KEY=""
